$tick-fill: linear-gradient(
  180deg,
  rgba(0, 141, 236, 1) 0%,
  rgba(0, 41, 66, 1) 100%
);
$ticks-pending-fill: repeating-linear-gradient(
  45deg,
  transparent,
  transparent 1rem,
  rgba(0, 141, 236, 1) 1rem,
  rgba(0, 141, 236, 1) 2rem
);
$tick-will-miss-fill: linear-gradient(
  180deg,
  rgba(208, 122, 135, 1) 0%,
  rgba(189, 28, 28, 1) 100%
);
$casting-fill: red;
$background: linear-gradient(
  180deg,
  rgba(40, 40, 40, 1) 0%,
  rgba(0, 0, 0, 1) 100%
);

* {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#container {
  border: 1px solid black;
  background: $background;
  position: relative;
  height: 100%;
  width: 100%;
}

#casting-tick-mark {
  position: absolute;
  height: 100%;
  width: 0.25em;
  border: 1px solid black;
  background: $casting-fill;
  transition: left 50ms linear;
}

#casting-tick-mark.not-casting {
  display: none;
}

#tick-amount {
  position: absolute;
  height: 100%;
  width: auto;
  left: 0.5em;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background: transparent;
  text-shadow: 1px 1px #222;
  top: calc(50% - 0.5em);
  font-size: 0.65em;
}

#mana-tick-fill {
  background: $tick-fill;
  /* transition: width 5ms linear; */
}

#mana-tick-fill.tick-will-miss {
  background: $tick-will-miss-fill;
}

#mana-tick-fill.pending {
  width: 100%;
  background: $ticks-pending-fill;
  background-size: 200% 200%;
  animation: barberpole 15s linear infinite;
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}

.fade-out {
  opacity: 0;
  transition: opacity 1500ms linear;
}

.drag-handle {
  position: absolute;
  top:calc(50% - 8px);
  right:calc(50% - 8px);
  color: #ccc;
  cursor: move;
  width: 16px;
  height: 16px;
}
